@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;
}

.glass {
  @apply bg-white/10 backdrop-blur-lg border border-white/20 rounded-2xl shadow-2xl;
}
